body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: #f2f3f5;
  margin: 0;
  padding-block-start: 55px;
  color: #34495e;
  overflow-y: scroll;
}

a {
  color: #34495e;
  text-decoration: none;
}

.header {
  background-color: #335d92;
  position: fixed;
  z-index: 999;
  block-size: 55px;
  inset: 0;

  .inner {
    box-sizing: border-box;
    max-inline-size: 800px;
    margin-inline: auto;
    padding-block: 15px;
    padding-inline: 5px;
  }

  a {
    color: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    transition: color 0.15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: 0.075em;
    margin-inline-end: 1.8em;
  }

  a:hover {
    color: #fff;
  }

  a.active {
    color: #fff;
    font-weight: 400;
  }

  a:nth-child(6) {
    margin-inline-end: 0;
  }

  .github {
    color: #fff;
    font-size: 0.9em;
    margin: 0;
    float: right;
  }
}

.logo {
  inline-size: 24px;
  margin-inline-end: 10px;
  display: inline-block;
  vertical-align: middle;
}

.view {
  max-inline-size: 800px;
  margin-inline: auto;
  position: relative;
}

.fade-enter-active,
.fade-exit-active {
  transition: all 0.2s ease;
}

.fade-enter,
.fade-exit-active {
  opacity: 0;
}

@media (max-width: 860px) {
  .header {
    .inner {
      padding-block: 15px;
      padding-inline: 30px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    .inner {
      padding: 15px;
    }

    a {
      margin-inline-end: 1em;
    }

    .github {
      display: none;
    }
  }
}

.story-view {
  padding-block-start: 45px;
}

.story-list,
.story-list-nav {
  background-color: #fff;
  border-radius: 2px;
}

.story-list {
  position: absolute;
  margin-block: 30px;
  inline-size: 100%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.story-list-nav {
  padding-block: 15px;
  padding-inline: 30px;
  position: fixed;
  text-align: center;
  inset-block-start: 55px;
  inset-inline: 0;
  z-index: 998;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  .page-link {
    margin-inline: 1em;
  }

  .disabled {
    color: #aaa;
  }
}

@media (max-width: 600px) {
  .story-list {
    margin-block: 10px;
  }
}

.story-item {
  background-color: #fff;
  padding-block: 20px;
  padding-inline: 80px 30px;
  border-bottom: 1px solid #eee;
  position: relative;
  line-height: 20px;

  .score {
    color: #335d92;
    font-size: 1.1em;
    font-weight: 700;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;
    inline-size: 80px;
    text-align: center;
    margin-block-start: -10px;
  }

  .host,
  .meta {
    font-size: 0.85em;
    color: #626262;
  }

  .host a,
  .meta a {
    color: #626262;
    text-decoration: underline;
  }

  .host a:hover,
  .meta a:hover {
    color: #335d92;
  }
}

.item-view-header {
  background-color: #fff;
  padding-block: 1.8em 1em;
  padding-inline: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  h1 {
    display: inline;
    font-size: 1.5em;
    margin-inline-end: 0.5em;
  }

  .host,
  .meta,
  .meta a {
    color: #626262;
  }

  .meta {
    padding-block: 1em;
  }

  .meta a {
    text-decoration: underline;
  }
}

.item-view-comments {
  background-color: #fff;
  margin-block-start: 10px;
  padding-block-end: 0.5em;
  padding-inline: 2em;
}

.item-view-comments-header {
  margin: 0;
  font-size: 1.1em;
  padding-block: 1em;
  position: relative;
}

@media (max-width: 600px) {
  .item-view-header h1 {
    font-size: 1.25em;
  }
}

.comment-children {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comment-children .comment-children {
  margin-inline-start: 1.5em;
}

.comment {
  border-block-start: 1px solid #eee;
  position: relative;

  .by,
  .text,
  .toggle {
    font-size: 0.9em;
    margin-block: 1em;
  }

  .by {
    color: #626262;
  }

  .by a {
    color: #626262;
    text-decoration: underline;
  }

  .text {
    overflow-wrap: break-word;
  }

  .text a:hover {
    color: #335d92;
  }

  .text pre {
    white-space: pre-wrap;
  }

  .toggle {
    background-color: #fffbf2;
    padding-block: 0.3em;
    padding-inline: 0.5em;
    border-radius: 4px;
  }

  .toggle a {
    color: #626262;
    cursor: pointer;
  }

  .toggle.open {
    padding: 0;
    background-color: transparent;
    margin-block-end: -0.5em;
  }
}

.user-view {
  background-color: #fff;
  padding-block: 2em;
  padding-inline: 3em;

  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  .meta {
    list-style-type: none;
    padding: 0;
  }

  .label {
    display: inline-block;
    min-inline-size: 4em;
  }

  .about {
    margin-block: 1em;
  }

  .links a {
    text-decoration: underline;
  }
}

.error-view {
  background-color: #fff;
  padding-block: 2em;
  padding-inline: 3em;
}
