html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background-color: Canvas;
  color: CanvasText;
  margin: 0;
}

.Header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
}

.Header-nav {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rlh;
  margin-inline: auto;
  max-inline-size: 40rem;
  padding-block: 0.5rlh;
  padding-inline: 1rlh;
}

.Container {
  margin-inline: auto;
  max-inline-size: 40rem;
  padding-inline: 1rlh;
}

.VirtualScroller-list {
  display: contents;
  list-style: none;
}

.VirtualScroller-spacer {
  background-color: ButtonFace;
  color: ButtonText;
}

.VirtualScroller-item {
  background-color: Field;
  color: FieldText;
  outline-offset: -1px;
  outline: 2px solid Highlight;
  scroll-margin: inherit;
  text-align: center;

  &[aria-posinset$="0"],
  &[aria-posinset$="2"],
  &[aria-posinset$="4"],
  &[aria-posinset$="6"],
  &[aria-posinset$="8"] {
    background-color: SelectedItem;
    color: SelectedItemText;
  }
}
